
//  ============================== MODAL WINDOW =============================

.top-books {
    color: #1111;
    font-size: 38px;
    margin-top: 764px;
    margin-bottom: 40px;
}

.books {
    color: #4f2ee8
};

.type-of-books {
    color: #b4afaf;
    font-size: 18px;
}

.see-more-btn {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    border: 2px solid #4F2EE8;
    border-radius: 40px;
    background-color: #fff;
    padding: 14px 28px;
    cursor: pointer;
}


// =============================== TABLET ============================================
