
//  ============================== MODAL WINDOW =============================

.top-books {
    color: 11111;
    font-size: 38px;
    margin-top: 764px;
    margin-bottom: 40px;
}

.books {
    color: rgb(79, 46, 232);
};

.type-of-books {
    color: rgb(180, 175, 175);
    font-size: 18px;
}

.see-more-btn {
    font-size: 14px;
    line-height: 38px/32px;
    font-weight: 700;
    border: 2px solid #4F2EE8;
    border-radius: 40px;
    background-color: #fff;
    padding: 14px 28px;
    cursor: pointer;
}


// =============================== TABLET ============================================
