
//  ============================== MODAL WINDOW =============================

.top-books {
    color: var(--text-dark);
    font-size: 32px;
    line-height: 38px;
    margin-top: 764px;
    margin-left: 20px;
}

.books {
    color: var(--active-category-color)
};

.type-of-books {
    color: var(--light-grey);
    font-size: 18px;
    margin-bottom: 18px;
}

.img-card {
    list-style: none;
    min-width: 335px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.book-info {
    margin-top: 14px;
    margin-bottom: 8px;
    border-radius: 8px;

}

.book-name {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 4px;
    

}

.book-author{

    font-size: 12px;
    line-height: 14px;
    color: #B4AFAF;
    
    


}
.see-more-btn {
    display: inline-flex;
    justify-content: center;
    margin-left: 200px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    border: 2px solid #4F2EE8;
    border-radius: 40px;
    background-color: #fff;
    padding: 14px 28px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--text-dark);
    cursor: pointer;
};


// =============================== TABLET ============================================
