.support {
    display: block;

    width: 356px;
    height: 490px;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%) ;
    border-radius: 16px;
}
.title-support{
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-left: 40px;
    margin-top: 24px;

}

.gallery__item_support{
    display: flex;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    width: 159px;
    height: auto;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}
.gallery__image{
    margin-left: 16px;
    align-items: center;
}
.gallery__link{
   
}

.gallery-support{
    display: block;
    width: auto;
    height: 280px;
    counter-reset: item;
    list-style-type: none;
    padding-left: 0;
    
    margin-bottom: 40px;
    gap: 20px;
    position: relative;
    overflow: hidden;
}
.carousel-button-nex{
    cursor: pointer;
    position: absolute;
    transition: 0,6s ease;

}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1,5s;
    animation-name: fade;
    animation-duration: 1,5s;

}
@-webkit-keyframes fade{
    from{opacity: 4;}
    to{opacity: 1;}
}
@keyframes fade{
    from{opacity: 4;}
    to{opacity: 1;}
}
.gallery__item_support:before {
    content: counter(item, decimal-leading-zero) " ";
    counter-increment: item;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: flex-end;
}
.img-support{
    margin-left: 12px;
    margin-top: 24px;
}
.wardrobe-icon-svg{
    width: 38px;
    height: 38px;
    background-color:#FFFFFF ;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.wardrobe-svg{
    width: 6px;
    height: 12px;
}
