
  <header class="container-header">


    <div class="logo">
      <a href="">
        <svg class="header-logo-svg">
          <use href='images/icon/logo-light.png'></use>
        </svg>
      </a>
        

 <button type="button" class="burger" aria-expanded="false" aria-controls="mobile-menu">
         <svg class="mobile-burger" width="28" height="28">
             <use href='./images/sprite.svg'></use>
         </svg>
     </button>

 </div>
 
 <button data-modal="2" type="button" class="header-button">
  <span class="header-button-span-text">Sign up</span>
  <span >
    <svg class="header-button-svg" width="6" height="10">
      <use href='./images/icon/logo-light.png'></use>
    </svg>
  </span>
</button>


</div>

 </header>

 