<!-- <link rel="stylesheet" href="sass/_supportUkraine.scss" /> -->
<section class="support-ukraine">
    <div class="support">
        <h2 class="title-support">Support-Ukraine</h2>
        <img class="img-support" src="./images/icon/Group.png" alt="cute cat" />

        <ol class="gallery-support"'{"slidesToShow": 6, "slidesToScroll": 1}'></ol>
        <a class="carousel-button-nex" onclick="plusSlides(1)">
            <svg class="wardrobe-icon-svg" wigth="6" height="12">
                <use class="wardrobe-svg" href="./images/sprite.svg#icon-Vector-3"></use>
            </svg>
        </a>
    </div>
</section>
<script src="js/01-gallerysupportukrain.js" type="module"></script>